*{box-sizing:border-box;}

.form-inputs p {
    color: red;
    font-size: 20px;
}

.form{
    /* border: 2px solid; */
    padding: 20px;
    /* text-align: center; */
}

input{
    /* border-radius: 20px; */
    border-bottom: 1px solid black;
    margin-left: 5px;
    height: 20px;
    background: 0;
    box-shadow:  0 0 10px 4px rgba(0,0,0,0.06);
    padding: 15px;
}

/* credit:  https://www.codegrepper.com/code-examples/html/how+to+center+button+in+css */
.form-input-btn {
    padding: 5px;
    margin-left:30%;
    margin-right:30%;
    border-radius: 20px;
    font-size: 20px;
    width: 200px;
}

.form-input-btn:hover{
    color: blue;
    border: 3px solid blue;
}

.form-inputs{
    margin-bottom: 100px;
}

.form-input-login{
    text-align: center;
}

