.form-inputs p {
    color: red;
    font-size: 20px;
}

.form{
    border: 2px solid;
    padding: 20px;
    text-align: center;
}

input{
    border-radius: 20px;
    margin-left: 5px;
    height: 20px;
}

/* credit:  https://www.codegrepper.com/code-examples/html/how+to+center+button+in+css */
.form-input-btn{
    /* width:20%; */
    padding: 5px;
    margin-left:25%;
    margin-right:25%;
    border-radius: 20px;


}